<form asp-action="XuLyChuoi">   
    <label> Nhập Chuỗi:</label>
    <input type="text" name="strInput"></input>
    <input type="submit" value="xử lí"> </input>

</form>
<h2>@ViewBag.Thongtin</h2>
<h1>@ViewBag.Message</h1>

