<h2>View Employee/Index</h2>

<form asp-action="Create">
    <label>Person ID</label>:</label>
    <input type="number" name="PersonID" value="1">
    <br>
    <label>Name Person:</label>
    <input type="text" name="PersonName" value="Nguyễn Văn Viết">
    <br>
    <label>Tuoi":</label>
    <input type="number" name="Age" value="20">
    <br>
    <input type="submit" value="Send">
</form>
<h3>@ViewBag.TT</h3>
