<h2>Danh sách Person</h2>
<hr>
<table class="table border">
    <tr>
        <th>
            <label>Person ID</label>
        </th>
        <th>
            <label>Name Person</label>
        </th>
        <th>
            Age
        </th>
    </tr>

    @foreach (var item in ViewData["Person"] as List<DemoMVC.Models.Person>)

    {
        <tr>
            <td>@item.PersonID</td>
            <td>@item.PersonName</td>
            <td>@item.Age</td>
        </tr>
    }
</table>