@{
    ViewData["Title"] = "Giải phương trình bậc 2";
}

<h1> Giải phương trình bậc 2</h1>
<form>
    <label for="a">Enter a</label>
    <input type="number" id="a" name="a" />
    <label for="b">Enter b</label>
    <input type="number" id="b" name="b" />
    <label for="c">Enter c</label>
    <input type="number" id="c" name="c" />
    <button type="submit">Tính</button>
</form>

<p>@ViewBag.Result</p>
