<h2>View Employee/Index</h2>

<form asp-action="Create">
   <label>Mã Nhân Viên:</label>
   <input type="number" name="EmployeeID" value ="1">
   <br>
   <label >Tên Nhân Viên:</label>
   <input type="text" name="EmployeeName"  value ="Nguyễn Văn Viết">
   <br>
   <label >Tuổi:</label>
   <input type="number" name ="Age"  value ="20">
   <br>
   <input type="submit"  value ="Send">
</form>
<h2>@ViewBag.TT</h2>
